"""
    CloudEndure API documentation

    © 2021 CloudEndure All rights reserved  # General Request authentication in CloudEndure's API is done using session cookies. A session cookie is returned upon successful execution of the \"login\" method. This value must then be provided within the request headers of all subsequent API requests.  ## Errors Some errors are not specifically written in every method since they may always return. Those are: 1) 401 (Unauthorized) - for unauthenticated requests. 2) 405 (Method Not Allowed) - for using a method that is not supported (POST instead of GET). 3) 403 (Forbidden) - request is authenticated, but the user is not allowed to access. 4) 422 (Unprocessable Entity) - for invalid input.  ## Formats All strings with date-time format are according to RFC3339.  All strings with \"duration\" format are according to ISO8601. For example, a full day duration can be specified with \"PNNNND\".   # noqa: E501

    The version of the OpenAPI document: 5
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from cloudendure.api_client import ApiClient, Endpoint as _Endpoint
from cloudendure.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types,
)
from cloudendure.model.bandwidth_throttling import BandwidthThrottling
from cloudendure.model.error import Error
from cloudendure.model.point_in_time_list import PointInTimeList
from cloudendure.model.replication_configuration import ReplicationConfiguration
from cloudendure.model.replication_configuration_list import (
    ReplicationConfigurationList,
)


class ReplicationApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

        def __projects_project_id_machines_machine_id_bandwidth_throttling_get(
            self, project_id, machine_id, **kwargs
        ):
            """Get value of network bandwidth throttling setting for Machine  # noqa: E501

            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.projects_project_id_machines_machine_id_bandwidth_throttling_get(project_id, machine_id, async_req=True)
            >>> result = thread.get()

            Args:
                project_id (str):
                machine_id (str):

            Keyword Args:
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                BandwidthThrottling
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs["async_req"] = kwargs.get("async_req", False)
            kwargs["_return_http_data_only"] = kwargs.get(
                "_return_http_data_only", True
            )
            kwargs["_preload_content"] = kwargs.get("_preload_content", True)
            kwargs["_request_timeout"] = kwargs.get("_request_timeout", None)
            kwargs["_check_input_type"] = kwargs.get("_check_input_type", True)
            kwargs["_check_return_type"] = kwargs.get("_check_return_type", True)
            kwargs["_host_index"] = kwargs.get("_host_index")
            kwargs["project_id"] = project_id
            kwargs["machine_id"] = machine_id
            return self.call_with_http_info(**kwargs)

        self.projects_project_id_machines_machine_id_bandwidth_throttling_get = _Endpoint(
            settings={
                "response_type": (BandwidthThrottling,),
                "auth": [],
                "endpoint_path": "/projects/{projectId}/machines/{machineId}/bandwidthThrottling",
                "operation_id": "projects_project_id_machines_machine_id_bandwidth_throttling_get",
                "http_method": "GET",
                "servers": None,
            },
            params_map={
                "all": ["project_id", "machine_id",],
                "required": ["project_id", "machine_id",],
                "nullable": [],
                "enum": [],
                "validation": [],
            },
            root_map={
                "validations": {},
                "allowed_values": {},
                "openapi_types": {"project_id": (str,), "machine_id": (str,),},
                "attribute_map": {
                    "project_id": "projectId",
                    "machine_id": "machineId",
                },
                "location_map": {"project_id": "path", "machine_id": "path",},
                "collection_format_map": {},
            },
            headers_map={"accept": ["application/json"], "content_type": [],},
            api_client=api_client,
            callable=__projects_project_id_machines_machine_id_bandwidth_throttling_get,
        )

        def __projects_project_id_machines_machine_id_bandwidth_throttling_patch(
            self, project_id, machine_id, bandwidth_throttling, **kwargs
        ):
            """Set value of network bandwidth throttling setting for Machine  # noqa: E501

            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.projects_project_id_machines_machine_id_bandwidth_throttling_patch(project_id, machine_id, bandwidth_throttling, async_req=True)
            >>> result = thread.get()

            Args:
                project_id (str):
                machine_id (str):
                bandwidth_throttling (BandwidthThrottling):

            Keyword Args:
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                BandwidthThrottling
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs["async_req"] = kwargs.get("async_req", False)
            kwargs["_return_http_data_only"] = kwargs.get(
                "_return_http_data_only", True
            )
            kwargs["_preload_content"] = kwargs.get("_preload_content", True)
            kwargs["_request_timeout"] = kwargs.get("_request_timeout", None)
            kwargs["_check_input_type"] = kwargs.get("_check_input_type", True)
            kwargs["_check_return_type"] = kwargs.get("_check_return_type", True)
            kwargs["_host_index"] = kwargs.get("_host_index")
            kwargs["project_id"] = project_id
            kwargs["machine_id"] = machine_id
            kwargs["bandwidth_throttling"] = bandwidth_throttling
            return self.call_with_http_info(**kwargs)

        self.projects_project_id_machines_machine_id_bandwidth_throttling_patch = _Endpoint(
            settings={
                "response_type": (BandwidthThrottling,),
                "auth": [],
                "endpoint_path": "/projects/{projectId}/machines/{machineId}/bandwidthThrottling",
                "operation_id": "projects_project_id_machines_machine_id_bandwidth_throttling_patch",
                "http_method": "PATCH",
                "servers": None,
            },
            params_map={
                "all": ["project_id", "machine_id", "bandwidth_throttling",],
                "required": ["project_id", "machine_id", "bandwidth_throttling",],
                "nullable": [],
                "enum": [],
                "validation": [],
            },
            root_map={
                "validations": {},
                "allowed_values": {},
                "openapi_types": {
                    "project_id": (str,),
                    "machine_id": (str,),
                    "bandwidth_throttling": (BandwidthThrottling,),
                },
                "attribute_map": {
                    "project_id": "projectId",
                    "machine_id": "machineId",
                },
                "location_map": {
                    "project_id": "path",
                    "machine_id": "path",
                    "bandwidth_throttling": "body",
                },
                "collection_format_map": {},
            },
            headers_map={
                "accept": ["application/json"],
                "content_type": ["application/json"],
            },
            api_client=api_client,
            callable=__projects_project_id_machines_machine_id_bandwidth_throttling_patch,
        )

        def __projects_project_id_machines_machine_id_delete(
            self, project_id, machine_id, **kwargs
        ):
            """Uninstall agent  # noqa: E501

            Stops replication and removes the cloudendure agent from this machine. All cloud artifacts associated with those machines with the exception of launched target machine are deleted.  # noqa: E501
            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.projects_project_id_machines_machine_id_delete(project_id, machine_id, async_req=True)
            >>> result = thread.get()

            Args:
                project_id (str):
                machine_id (str):

            Keyword Args:
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                None
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs["async_req"] = kwargs.get("async_req", False)
            kwargs["_return_http_data_only"] = kwargs.get(
                "_return_http_data_only", True
            )
            kwargs["_preload_content"] = kwargs.get("_preload_content", True)
            kwargs["_request_timeout"] = kwargs.get("_request_timeout", None)
            kwargs["_check_input_type"] = kwargs.get("_check_input_type", True)
            kwargs["_check_return_type"] = kwargs.get("_check_return_type", True)
            kwargs["_host_index"] = kwargs.get("_host_index")
            kwargs["project_id"] = project_id
            kwargs["machine_id"] = machine_id
            return self.call_with_http_info(**kwargs)

        self.projects_project_id_machines_machine_id_delete = _Endpoint(
            settings={
                "response_type": None,
                "auth": [],
                "endpoint_path": "/projects/{projectId}/machines/{machineId}",
                "operation_id": "projects_project_id_machines_machine_id_delete",
                "http_method": "DELETE",
                "servers": None,
            },
            params_map={
                "all": ["project_id", "machine_id",],
                "required": ["project_id", "machine_id",],
                "nullable": [],
                "enum": [],
                "validation": [],
            },
            root_map={
                "validations": {},
                "allowed_values": {},
                "openapi_types": {"project_id": (str,), "machine_id": (str,),},
                "attribute_map": {
                    "project_id": "projectId",
                    "machine_id": "machineId",
                },
                "location_map": {"project_id": "path", "machine_id": "path",},
                "collection_format_map": {},
            },
            headers_map={"accept": [], "content_type": [],},
            api_client=api_client,
            callable=__projects_project_id_machines_machine_id_delete,
        )

        def __projects_project_id_machines_machine_id_pointsintime_get(
            self, project_id, machine_id, **kwargs
        ):
            """List Available Points-in-time  # noqa: E501

            Returns the list of available recovery points for this machine.  # noqa: E501
            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.projects_project_id_machines_machine_id_pointsintime_get(project_id, machine_id, async_req=True)
            >>> result = thread.get()

            Args:
                project_id (str):
                machine_id (str):

            Keyword Args:
                offset (int): With which item to start (0 based).. [optional] if omitted the server will use the default value of 0
                limit (int): A number specifying how many entries to return.. [optional] if omitted the server will use the default value of 1500
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                PointInTimeList
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs["async_req"] = kwargs.get("async_req", False)
            kwargs["_return_http_data_only"] = kwargs.get(
                "_return_http_data_only", True
            )
            kwargs["_preload_content"] = kwargs.get("_preload_content", True)
            kwargs["_request_timeout"] = kwargs.get("_request_timeout", None)
            kwargs["_check_input_type"] = kwargs.get("_check_input_type", True)
            kwargs["_check_return_type"] = kwargs.get("_check_return_type", True)
            kwargs["_host_index"] = kwargs.get("_host_index")
            kwargs["project_id"] = project_id
            kwargs["machine_id"] = machine_id
            return self.call_with_http_info(**kwargs)

        self.projects_project_id_machines_machine_id_pointsintime_get = _Endpoint(
            settings={
                "response_type": (PointInTimeList,),
                "auth": [],
                "endpoint_path": "/projects/{projectId}/machines/{machineId}/pointsintime",
                "operation_id": "projects_project_id_machines_machine_id_pointsintime_get",
                "http_method": "GET",
                "servers": None,
            },
            params_map={
                "all": ["project_id", "machine_id", "offset", "limit",],
                "required": ["project_id", "machine_id",],
                "nullable": [],
                "enum": [],
                "validation": ["offset", "limit",],
            },
            root_map={
                "validations": {
                    ("offset",): {"inclusive_minimum": 0,},
                    ("limit",): {"inclusive_maximum": 1500, "inclusive_minimum": 0,},
                },
                "allowed_values": {},
                "openapi_types": {
                    "project_id": (str,),
                    "machine_id": (str,),
                    "offset": (int,),
                    "limit": (int,),
                },
                "attribute_map": {
                    "project_id": "projectId",
                    "machine_id": "machineId",
                    "offset": "offset",
                    "limit": "limit",
                },
                "location_map": {
                    "project_id": "path",
                    "machine_id": "path",
                    "offset": "query",
                    "limit": "query",
                },
                "collection_format_map": {},
            },
            headers_map={"accept": ["application/json"], "content_type": [],},
            api_client=api_client,
            callable=__projects_project_id_machines_machine_id_pointsintime_get,
        )

        def __projects_project_id_replication_configurations_get(
            self, project_id, **kwargs
        ):
            """List Replication Configurations  # noqa: E501

            Returns the list of replication configuration objects defined in this project.  # noqa: E501
            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.projects_project_id_replication_configurations_get(project_id, async_req=True)
            >>> result = thread.get()

            Args:
                project_id (str):

            Keyword Args:
                offset (int): With which item to start (0 based).. [optional] if omitted the server will use the default value of 0
                limit (int): A number specifying how many entries to return.. [optional] if omitted the server will use the default value of 1500
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                ReplicationConfigurationList
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs["async_req"] = kwargs.get("async_req", False)
            kwargs["_return_http_data_only"] = kwargs.get(
                "_return_http_data_only", True
            )
            kwargs["_preload_content"] = kwargs.get("_preload_content", True)
            kwargs["_request_timeout"] = kwargs.get("_request_timeout", None)
            kwargs["_check_input_type"] = kwargs.get("_check_input_type", True)
            kwargs["_check_return_type"] = kwargs.get("_check_return_type", True)
            kwargs["_host_index"] = kwargs.get("_host_index")
            kwargs["project_id"] = project_id
            return self.call_with_http_info(**kwargs)

        self.projects_project_id_replication_configurations_get = _Endpoint(
            settings={
                "response_type": (ReplicationConfigurationList,),
                "auth": [],
                "endpoint_path": "/projects/{projectId}/replicationConfigurations",
                "operation_id": "projects_project_id_replication_configurations_get",
                "http_method": "GET",
                "servers": None,
            },
            params_map={
                "all": ["project_id", "offset", "limit",],
                "required": ["project_id",],
                "nullable": [],
                "enum": [],
                "validation": ["offset", "limit",],
            },
            root_map={
                "validations": {
                    ("offset",): {"inclusive_minimum": 0,},
                    ("limit",): {"inclusive_maximum": 1500, "inclusive_minimum": 0,},
                },
                "allowed_values": {},
                "openapi_types": {
                    "project_id": (str,),
                    "offset": (int,),
                    "limit": (int,),
                },
                "attribute_map": {
                    "project_id": "projectId",
                    "offset": "offset",
                    "limit": "limit",
                },
                "location_map": {
                    "project_id": "path",
                    "offset": "query",
                    "limit": "query",
                },
                "collection_format_map": {},
            },
            headers_map={"accept": ["application/json"], "content_type": [],},
            api_client=api_client,
            callable=__projects_project_id_replication_configurations_get,
        )

        def __projects_project_id_replication_configurations_post(
            self, project_id, replication_configuration, **kwargs
        ):
            """Create Replication Configuration  # noqa: E501

            Control Data Replication parameters such as target cloud credentials, Staging Area and replication network configuration. A single configuration can exist per target region. Returns the newly created object.   # noqa: E501
            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.projects_project_id_replication_configurations_post(project_id, replication_configuration, async_req=True)
            >>> result = thread.get()

            Args:
                project_id (str):
                replication_configuration (ReplicationConfiguration):

            Keyword Args:
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                ReplicationConfiguration
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs["async_req"] = kwargs.get("async_req", False)
            kwargs["_return_http_data_only"] = kwargs.get(
                "_return_http_data_only", True
            )
            kwargs["_preload_content"] = kwargs.get("_preload_content", True)
            kwargs["_request_timeout"] = kwargs.get("_request_timeout", None)
            kwargs["_check_input_type"] = kwargs.get("_check_input_type", True)
            kwargs["_check_return_type"] = kwargs.get("_check_return_type", True)
            kwargs["_host_index"] = kwargs.get("_host_index")
            kwargs["project_id"] = project_id
            kwargs["replication_configuration"] = replication_configuration
            return self.call_with_http_info(**kwargs)

        self.projects_project_id_replication_configurations_post = _Endpoint(
            settings={
                "response_type": (ReplicationConfiguration,),
                "auth": [],
                "endpoint_path": "/projects/{projectId}/replicationConfigurations",
                "operation_id": "projects_project_id_replication_configurations_post",
                "http_method": "POST",
                "servers": None,
            },
            params_map={
                "all": ["project_id", "replication_configuration",],
                "required": ["project_id", "replication_configuration",],
                "nullable": [],
                "enum": [],
                "validation": [],
            },
            root_map={
                "validations": {},
                "allowed_values": {},
                "openapi_types": {
                    "project_id": (str,),
                    "replication_configuration": (ReplicationConfiguration,),
                },
                "attribute_map": {"project_id": "projectId",},
                "location_map": {
                    "project_id": "path",
                    "replication_configuration": "body",
                },
                "collection_format_map": {},
            },
            headers_map={
                "accept": ["application/json"],
                "content_type": ["application/json"],
            },
            api_client=api_client,
            callable=__projects_project_id_replication_configurations_post,
        )

        def __projects_project_id_replication_configurations_replication_configuration_id_patch(
            self,
            project_id,
            replication_configuration_id,
            replication_configuration,
            **kwargs
        ):
            """Modify Replication Configuration  # noqa: E501

            Modifying volumeEncryptionKey or modifying cloudCredentials to ones matching a different cloud account will result in replication restarting from initial sync. Returns the modified object.  # noqa: E501
            This method makes a synchronous HTTP request by default. To make an
            asynchronous HTTP request, please pass async_req=True

            >>> thread = api.projects_project_id_replication_configurations_replication_configuration_id_patch(project_id, replication_configuration_id, replication_configuration, async_req=True)
            >>> result = thread.get()

            Args:
                project_id (str):
                replication_configuration_id (str):
                replication_configuration (ReplicationConfiguration):

            Keyword Args:
                _return_http_data_only (bool): response data without head status
                    code and headers. Default is True.
                _preload_content (bool): if False, the urllib3.HTTPResponse object
                    will be returned without reading/decoding response data.
                    Default is True.
                _request_timeout (float/tuple): timeout setting for this request. If one
                    number provided, it will be total request timeout. It can also
                    be a pair (tuple) of (connection, read) timeouts.
                    Default is None.
                _check_input_type (bool): specifies if type checking
                    should be done one the data sent to the server.
                    Default is True.
                _check_return_type (bool): specifies if type checking
                    should be done one the data received from the server.
                    Default is True.
                _host_index (int/None): specifies the index of the server
                    that we want to use.
                    Default is read from the configuration.
                async_req (bool): execute request asynchronously

            Returns:
                ReplicationConfiguration
                    If the method is called asynchronously, returns the request
                    thread.
            """
            kwargs["async_req"] = kwargs.get("async_req", False)
            kwargs["_return_http_data_only"] = kwargs.get(
                "_return_http_data_only", True
            )
            kwargs["_preload_content"] = kwargs.get("_preload_content", True)
            kwargs["_request_timeout"] = kwargs.get("_request_timeout", None)
            kwargs["_check_input_type"] = kwargs.get("_check_input_type", True)
            kwargs["_check_return_type"] = kwargs.get("_check_return_type", True)
            kwargs["_host_index"] = kwargs.get("_host_index")
            kwargs["project_id"] = project_id
            kwargs["replication_configuration_id"] = replication_configuration_id
            kwargs["replication_configuration"] = replication_configuration
            return self.call_with_http_info(**kwargs)

        self.projects_project_id_replication_configurations_replication_configuration_id_patch = _Endpoint(
            settings={
                "response_type": (ReplicationConfiguration,),
                "auth": [],
                "endpoint_path": "/projects/{projectId}/replicationConfigurations/{replicationConfigurationId}",
                "operation_id": "projects_project_id_replication_configurations_replication_configuration_id_patch",
                "http_method": "PATCH",
                "servers": None,
            },
            params_map={
                "all": [
                    "project_id",
                    "replication_configuration_id",
                    "replication_configuration",
                ],
                "required": [
                    "project_id",
                    "replication_configuration_id",
                    "replication_configuration",
                ],
                "nullable": [],
                "enum": [],
                "validation": [],
            },
            root_map={
                "validations": {},
                "allowed_values": {},
                "openapi_types": {
                    "project_id": (str,),
                    "replication_configuration_id": (str,),
                    "replication_configuration": (ReplicationConfiguration,),
                },
                "attribute_map": {
                    "project_id": "projectId",
                    "replication_configuration_id": "replicationConfigurationId",
                },
                "location_map": {
                    "project_id": "path",
                    "replication_configuration_id": "path",
                    "replication_configuration": "body",
                },
                "collection_format_map": {},
            },
            headers_map={
                "accept": ["application/json"],
                "content_type": ["application/json"],
            },
            api_client=api_client,
            callable=__projects_project_id_replication_configurations_replication_configuration_id_patch,
        )
